@import url('https://fonts.googleapis.com/css2?family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: "Tuffy", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header {
  width: 100%;
  display: flex;
  justify-content: center; 
  background-color: #f8f9fa; 
  padding: 10px 0 0 0;
}

#headmenu {
  display: flex;  
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-around; 
  align-items: center; 
}

#headmenu a {
  display: inline-block;
  padding: 0 1rem;  
  width: fit-content;
}

#headmenu a:hover{
  background-color: #cfd1fe;
}

#headmenu .active{
  background-color: #0f1019;;
  color: whitesmoke;
}

main {
  min-height: 50vh;;
  max-height: max-content;
  width: 80%;
  margin: 0 auto;
  background-color: whitesmoke;
}

.logindiv {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  
}

#logindiv {
  position: relative;
  width: 100%;
  height: 100vh; /* Gör den lika stor som skärmen */
  display: flex;
  justify-content: center;
  align-items: center;
}


#loginForm {
  min-width: 280px;
  background-color: #535bf25e;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#loginForm button {
  margin: 10px 0;
  text-align: center;
  background-color: #535bf2;
  color: white;
  transition: .6s ;
}
#loginForm button:hover {
  background-color: #171944;
}

#message {
  color: black;
  font-size: 0.9rem;
}

.user-card {
  width: 50%;
  margin: 20px auto; 
  border: 2px solid #535bf2;
  padding: 10px;
  border-radius: 10px;
}

.user-card h1 {
  font-size: 1.5rem;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
